


<!-- AUTOMATED CARD FLIPPER (Based on http://davidwalsh.name/css-flip) -->
<title>Somewhat Ugly</title>
    <link rel="stylesheet" href="/static/first_attempt/landing.css">
<!-- Using prefixfree to add necessary prefixes for cross-browser compatibility -->
<div class="outer">
<div class="middle">
<div class="container">
  <div class="itemContainer itemContainer_1">
    <a href="/programming">
      <div class="item item_1">
        <div class="front front_1">
          <h1>Programming</h1>
          <img src="https://dl.dropboxusercontent.com/u/44887159/Website/Landing%20Page/COmputer_logo_cropped.png" alt="">      
        </div>
        <div class="back back_1">
          <h1>The focus of this blog: Learn by building, this documents the crap code I've produced to that end</h1>
        </div>
      </div>
    </a>
  </div>

  <div class="itemContainer itemContainer_2">
    <div class="item item_2">
      <div class="front front_2">
        <h1>Triathlon</h1>
        <img src="https://dl.dropboxusercontent.com/u/44887159/Website/Landing%20Page/bike_logo.png" alt="">   
      </div>
      <div class="back back_2">
        <h1>I'm slow but getting faster.  This year's focus is IMLP. Training logs and thoughts inside</h1>
      </div>
    </div>
  </div>

  <div class="itemContainer itemContainer_3">
    <div class="item item_3">
      <div class="front front_3">
        <h1>Cooking</h1>
        <img src="https://dl.dropboxusercontent.com/u/44887159/Website/Landing%20Page/Ramen_logo.png" alt="">
      </div>
      <div class="back back_3">
        <h1 class="back_h1">Simply thinking about what I put in my body results in better practices</h1>
      </div>
    </div>
  </div>

  <div class="itemContainer itemContainer_4">
    <div class="item item_4">
      <div class="front front_4">
        <h1 class="text_h4">Massive Open Online Courseware</h1>
        <img class='grad_cap' src="https://dl.dropboxusercontent.com/u/44887159/Website/Landing%20Page/Cap_logo.png" alt="">
      </div>
      <div class="back back_4">
        <h1>Attempts to treat online courses like the real thing.  The internet is really a sweet place, </h1>
      </div>
    </div>
  </div>

  <div class="itemContainer itemContainer_5">
    <div class="item item_5">
      <div class="front front_5">
        <h1>Book Reviews</h1>
        <img class="book_image" src="https://dl.dropboxusercontent.com/u/44887159/Website/Landing%20Page/Book_logo.png" alt="">
      </div>
      <div class="back back_5">
        <h1>Quick TLDR summaries of books spanning all my interests</h1>
      </div>
    </div>
  </div>

  <div class="itemContainer itemContainer_6">
    <div class="item item_6">
      <div class="front front_6">
        <h1>Recent Posts</h1>
        <img src="https://dl.dropboxusercontent.com/u/44887159/Website/Landing%20Page/pencil_logo.png" alt="">
      </div>
      <div class="back back_6">
        <h1>Take a guess</h1>
      </div>
    </div>
  </div>

  <div class="itemContainer itemContainer_7">
    <div class="item item_7">
      <div class="front front_7">
        <h1>Favorites</h1>
        <img src="https://dl.dropboxusercontent.com/u/44887159/Website/Landing%20Page/Thumbsup_logo.png" alt="">
      </div>
      <div class="back back_7">
        <h1>Collection of the coolest things on this blog</h1>
      </div>
    </div>
  </div>

  <div class="itemContainer itemContainer_8">
    <div class="item item_8">
      <div class="front front_8">
        <h1>Misc</h1>
        <img src="https://dl.dropboxusercontent.com/u/44887159/Website/Landing%20Page/Trash_logo.png" alt="">
      </div>
      <div class="back back_8">
        <h1>Random thoughts that don't really pertain to other sections</h1>
      </div>
    </div>
  </div>

  <div class="itemContainer itemContainer_9">
    <div class="item item_9">
      <div class="front front_9">
        <h1>About/Contact</h1>
         <img src="https://dl.dropboxusercontent.com/u/44887159/Website/Landing%20Page/Email_logo.png" alt="">
      </div>
      <div class="back back_9">
        <h1>A bit about me, what I'm working on and how to contact.</h1>
      </div>
    </div>
  </div>
</div>
</div>
</div>



