appdirs==1.4.3
APScheduler==3.3.1
backports-abc==0.5
beautifulsoup4==4.6.0
bkcharts==0.2
blinker==1.4
bokeh==0.12.6
bs4==0.0.1
certifi==2017.4.17
cycler==0.10.0
Flask==0.10.1
Flask-Mail==0.9.0
Flask-WTF==0.10.2
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.1.1
gunicorn==19.2.1
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
matplotlib==2.0.1
numpy==1.12.1
packaging==16.8
pandas==0.19.2
psycopg2==2.7.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.12
requests==2.13.0
singledispatch==3.4.0.3
six==1.10.0
subprocess32==3.2.7
tornado==4.5.1
tzlocal==1.4
Werkzeug==0.10.1
WTForms==2.1
