{% extends "base.html" %}
{% block content %}
<p><b>The Blog Log:</b>   A collection of posts detailing how this blog was created</p>
                    <hr>

                    <ul>
                        <li><b><a href="http://davidterwilliger.com/programming/blog/hello_world" style="text-decoration: underline;">Part I</a>:</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;An Inefficient "Hello World!"</li>

                        <li><b><a href="http://davidterwilliger.com/programming/blog/part_2" style="text-decoration: underline;">Part II</a>:</b>  &nbsp;&nbsp;&nbsp;&nbsp;Housekeeping Flavicon and Nav bar</li>

                        <li><b><a href="http://davidterwilliger.com/programming/blog/part_3" style="text-decoration: underline;">Part III</a>:</b>  &nbsp;&nbsp;&nbsp;Templates and Escape Characters</li>

                    </ul>                    


{% endblock %}


