
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Illogical Optimism | David Terwilliger</title>
    <link rel='shortcut icon' href='https://s3-us-west-2.amazonaws.com/david-website/first_pics/favicon.ico' />

    <!-- Bootstrap Core CSS -->
    <link href="../../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/clean-blog.min.css" rel="stylesheet">
    <!-- My Custom CSS -->
    <link href="../../static/my_additions.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    
    
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top ">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul style="margin-left:auto;margin-right:auto;" class="nav navbar-nav navbar-left"  id="my_nav">
                    <li class="nav_items">
                        <a href="/">Home</a>
                    </li>
                    <li class="nav_items">
                        <a href="/programming">Programming</a>
                    </li>
                    <li class="nav_items">
                        <a href="about.html">Triathlon</a>
                    </li>
                    <li class="nav_items">
                        <a href="post.html">Cooking</a>
                    </li>
                    <li class="nav_items">
                        <a href="contact.html">Reading</a>
                    </li >
                    <li class="nav_items">
                        <a href="contact.html">Misc</a>
                    </li>
                    <li class="nav_items">
                        <a href="contact.html">About/Contact</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('https://s3-us-west-2.amazonaws.com/david-website/first_pics/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>A very inefficient, long winded “Hello World!”</h1>
                        <span class="meta">Posted on December 18, 2014</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="tab">This is Part I of a series detailing the creation of this blog.  The general purpose of this blog is mainly educational: Learning by doing.  Arrival at (this) [pseudo] finished first post involved quite the inefficient, circuitous path; something akin to traveling 7 sides of an octagon rather than just one.</p>

                    <p><b>Final Setup: </b></p>
                    <p class="indent"><a href="https://www.digitalocean.com/" target="_blank" style="target-new: tab;">Digital Ocean</a> 1 core VPS (5$/Month!), loaded with:<br>Ubuntu 14.04 with Apache.<br><a href="http://flask.pocoo.org/" target="_blank" style="target-new: tab;">Flask</a>: a micro-framework for Python<br><a href="http://getbootstrap.com/2.3.2/" target="_blank" style="target-new: tab;">Twitter Bootstrap</a>.  Specifically, a free template from <a href="http://startbootstrap.com/" target="_blank" style="target-new: tab;">Start Bootstrap</a></p>

                    <p><b>Tutorials followed: </b></p>
                    
                    <p class="indent"><a href="https://www.digitalocean.com/community/tutorials/how-to-point-to-digitalocean-nameservers-from-common-domain-registrars" target="_blank" style="target-new: tab;">Point my Domain registrat to Digital Ocean name servers</a><br><a href="https://www.digitalocean.com/community/tutorials/how-to-install-linux-apache-mysql-php-lamp-stack-on-ubuntu" target="_blank" style="target-new: tab;">Set up the VPS and install LAMP</a><br><a href="https://www.digitalocean.com/community/tutorials/how-to-deploy-a-flask-application-on-an-ubuntu-vps" target="_blank" style="target-new: tab;">Delpoy Flask on the server</a><br><a href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world" target="_blank" style="target-new: tab;">Miguel Grinberg's mega tutorial for creation of the intial functionality</a></p>

                    <p class="tab">Once humming, I displayed the banal phrase "Hello World!".  Stupid, but cool, now I can change one idiotic comment to another, for the whole world to see!
                    </p>
                    <p class="tab">Before settling on a Twitter Bootstrap theme, I decided to show myself just how terrible a designer I am.  The first attempt at HTML/CSS proved to be a time consuming disaster of comedic proportions.  I built a landing page, nav-bar and post template using various bits of code found around the internet.  While the parts looked decent in isolation, they did not work together; it was an eye wrenching abomination.  The result was significantly less than the sum of the parts.</p>

                    <p class="tab"><b>Landing Page</b> (<a href="http://davidterwilliger.com/first_landing"  target="_blank" style="target-new: tab;">Result</a>) (<a href="http://codepen.io/anon/pen/ogLPqX"  target="_blank" style="target-new: tab;">HTML/CSS</a>)</p>
                    <p class="tab">Exalted by my new found ability to spew verbal diarrhea on the internet, I set out to make a beautiful landing page.  I found a nifty bit of HTML on Code Pen and decided to copy and change it to make a pretty page.  I had trouble getting JS to work within flask, so I stuck to versions with only HTML and CSS.  <a href="http://jsfiddle.net/" target="_blank" style="target-new: tab;">JS fiddle</a> is a nifty tool to blow up code and see which parts drive which actions.  The icons were copied from the internet and the background was edited in photoshop to match the background of the tiles.  A very mindless application, images were hosted on dropbox, which is cool.</p>

                    <p class="tab"><b>Nav-bar</b> (<a href="http://davidterwilliger.com/first_base"  target="_blank" style="target-new: tab;">Result</a>) (<a href="http://codepen.io/anon/pen/zxBmOY"  target="_blank" style="target-new: tab;">HTML/CSS</a>)</p>
                    <p class="tab">I actually like how this came out, I added a few classes to center items correctly, adjusted boarders and removed a few unused classes.  Basically, it looked decent beacuse I had significantly less of a hand in its design.</p>
                    <p class="tab">First attempt using flask to introduce templating and inheritance:  A complete diaster.  I almost submitted myself to <a href="http://www.reddit.com/r/CrappyDesign#page=1"  target="_blank" style="target-new: tab;">/r/CrappyDesign</a>, so at least others would get a chuckle.  </p>
                    <p class="tab">Time for a complete overhaul: Twitter Bootstrap</p>

                    <p class="tab">I settled on a theme and started ripping things apart.  After downloading the source and testing a few locally, I settled on this "Clean blog".  It was super easy to drop the files through Filezilla.  The only changes I made so far: Addition of a class to allow indenting for first line of paragraphs, I'm also forcing links to open in a new tab.  All images are hosted on my public dropbox account. They take a split second to load, but its not a big deal.  This format may need to be changed in the low probability that I ever generate traffic.  Server side permissions also had to be changed once the FTP client was used.  Filezilla gave transfered files ownership to user ftp.  This needs tweaking</p>

                    <p class="tab">Interestingly, I often spell "hello world" as "hellow world".  This was a source of minor aggravation and amusement.</p>

                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/Twiggless" target="_blank" style="target-new: tab;">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/profile.php?id=1620815" target="_blank" style="target-new: tab;">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/terwilld" target="_blank" style="target-new: tab;">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                                
                            </a>
                        </li>
                    </ul>
                    <!--<p class="copyright text-muted"><a href="/" >David Terwilliger</p></a>-->
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../../static/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../static/clean-blog.min.js"></script>

</body>

</html>




