{% extends "base.html" %}
{% block content %}




                    <p class="tab"><b>Housekeeping:</b></p>
                    <p class="tab"><a href="https://code.google.com/p/google-code-prettify/wiki/GettingStarted" target="_blank" style="target-new: tab;">Google's code prettify </a>was implemented. Pretty indeed</p>
<hr>
                    <p class="tab"><b>CSS:</b>  I had gotten into the poor habit of using a bunch of inline styling for making slight tweaks.  Many of these slight tweaks were the same or similar enough to merit their own file.  All CSS inline styling was removed and added to its own 3rd css file now used in all HTML documents.  Though small, this will serve as a building block for future personalization.  Current, simple changes:</p>


<pre class="prettyprint lang-css linenums">
.indent {padding-left: 30px;}
.tab {text-indent: 30px;}
.embed_img{width: 100%;}
#my_nav{
  float: left;
  position: relative;
  left: 50%;}
.nav_items{
  display: block;
  float: left;
  position: relative;
  right: 50%;
text-shadow: 0 0 1px
}
</pre>


<hr>


                    <p class="tab"><b>Image Hosting:</b>  I had a very haphazard collection of images on the site.  Some pictures were hosted publicly on Dropbox, some were direct links from imgur while some others were hosted from Google drive.  This was originally done simply because it was easier at the time and I honestly was simply trying to get anything to work, time to pay a little bit of technical debt and prevent it from getting too large.  All images were moved to <a href="http://aws.amazon.com/s3/" target="_blank" style="target-new: tab;">Amazon AWS </a></p>
                    <hr>

                    <p class="tab"><b>Broken JS:</b>  Very embarrassing: I realized all my Java script links were not working.  Since the amount of working JS is quite low for this bootstrap theme, I didn't notice.  The working code allows the nav bar to function while also applying some dynamic re-sizing for the pages, show the window's width change.  </p>

<pre class="prettyprint linenums">
script src="static/jquery.js">/script
</pre>

<center><p>Changed to:</p></center>
<pre class="prettyprint linenums">
script src="../../static/jquery.js">/script
</pre>

<hr>


                    <p class="tab"><b>Favicon:</b>  I got tired of looking at the default image within a tab:<img src="https://lh3.googleusercontent.com/-T4Hy85789og/UFNUt29AJxI/AAAAAAAA0DI/UzV2M6LgeY0/s288/ui_resources_default_200_percent_default_favicon_new.png" alt="" style="width:25px;height:25px"> so I made my own.  I took a picture of my dream bike, resized it to the correct combinations of dimensions.  Lots of the lines get blurred when re-sizing the image down so much, so individual pixels were edited in photoshop.  Annoying work, but, as bad as the image in the tab looks currently... it had looked quite a bit poorer.  </p>

                    <center><img src="http://www.racycles.com/assets/productimages/large/Cervelo_P5three_2013_Red_Bike.jpg" alt=""></center>
<hr>
                    <p class="tab"><b>Nav bar:</b>  The nav bar needed a few stylistic changes: It needed to be centered, its font was changed and letter shadow was added so that the test contrasts any background image better.  Correct links were built and it basically looks not horrible.</p>











{% endblock %}


