{% extends "base.html" %}
{% block content %}


  <p class="tab"><b>Templates</b> are a must.  At the moment, each of my posts contains its own version of the code for all repeated elements. The Nav-bar, header and footer are the same as well as  many images and icons, yet they have their own copies of identical code in each unique HTML file.  This would obviously cause a shit show if I needed to make a change; I would need to make the same change to each file, no way.  Instead we will build it so common changes can be permeated through the site by changing just one file.</p>

  <p class="tab"><a href="http://flask.pocoo.org/docs/0.10/tutorial/templates/" target="_blank" style="target-new: tab;">Flask documentation</a> and <a href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates" target="_blank" style="target-new: tab;">Flask Mega Tutorial</a> were used.  <a href="http://davidterwilliger.com/programming/blog/part_2" target="_blank" style="target-new: tab;">The previous post</a> will be recreated using templating.  <a href="http://davidterwilliger.com/base" target="_blank" style="target-new: tab;">Base.html</a> will contain the repetitive code for our site.  The content will be injected between the bottom of the image and the top of the line just below it.  Two very simple pieces of code dictate how Jinja2 (Flask's templating engine) combines these parts:</p>

  <p class="tab">Base.html contains the following:</p>

<pre class="prettyprint lang-css linenums">
	//Code for the header
{% raw %}{% block content %}{% endblock %}{% endraw %}
	//Code for the footer
</pre>

<p class="tab">__init__.py still just contains:</p>

<pre class="prettyprint lang-css linenums">
@app.route("/programming/blog/part_3")
def programming_blog_part_3():
        return render_template('/programming/blog/part_3.html')
</pre>


 <p class="tab">Part_3.html contains:</p>
<pre class="prettyprint lang-css linenums">
{% raw %}{% extends "base.html" %}{% endraw %}
{% raw %}{% block content %}{% endraw %}
      "Content"
{%raw %}{% endblock %}{% endraw %}
</pre>

  <p class="tab">“Content” is a place holder. This will be filled in with the actual content of the post, while the other 3 lines import the template.</p>

<p class="tab">A few small changes also need to be made.  As currently setup, the header and background image are part of the base, as is the title and date of the post.  We need a method to override these, so each post can have different titles and background images.</p>

<p class="tab">Base.html title and date:</p>

<pre class="prettyprint lang-css linenums">
&lt;header class="intro-header" style="background-image: url('https://s3-us-west-2.amazonaws.com/david-website/first_pics/post-bg.jpg')"&gt;&lt;/header&gt;
</pre>

<p class="tab">Gets changed to:</p>

<pre class="prettyprint lang-css linenums">
{%raw %}{% if background_img %}{% endraw %}
&lt;header class="intro-header" style="background-image: url({{ background_img }})"&gt;&lt;/header&gt;
{%raw %}{% else %}{% endraw %}
&lt;header class="intro-header" style="background-image: url('https://s3-us-west-2.amazonaws.com/david-website/first_pics/post-bg.jpg')"&gt;&lt;/header&gt;
{%raw %}{% endif %}{% endraw %}
</pre>

<p class="tab">Base.html changes for title and date:</p>

<pre class="prettyprint lang-css linenums">
&lt;h1&gt;Lazy dude&lt;/h1&gt;
&lt;span class="meta"&gt;Posted on January 1, 2015 lazy dude&lt;/span&gt;
</pre>

<p class="tab">Gets Changed to:</p>
<pre class="prettyprint lang-css linenums">
{% raw %}{% if title %}{% endraw %}
&lt;h1&gt;{% raw %}{{ title }}{% endraw %} &lt;/h1&gt;
{% raw %}{% else %}{% endraw %}
&lt;h1&gt;'Lazy dude'&lt;/h1&gt;
{% raw %}{% endif %}{% endraw %}
{% raw %}{% if date %}{% endraw %}
&lt;span class="meta"&gt;{% raw %}{{ date }}{% endraw %}&lt;/span&gt;
{% raw %}{% else %}{% endraw %}
&lt;span class="meta"&gt;Posted on January 1, 2015&lt;/span&gt;
{% raw %}{% endif %}{% endraw %}
</pre>


<p class="tab">__init__.py gets changed to;</p>
<pre class="prettyprint lang-css linenums">
@app.route("/programming/blog/part_3")
def programming_blog_part_3():
        return render_template('/programming/blog/part_3.html',
        background_img='http://wallpoper.com/images/00/29/71/89/tron-tron_00297189.jpg',
        title='Hello part 3',
        date='January 7, 2015')
</pre>

<p class="tab">There are 3 parts to the base which may change, the background image, title and date.  Logic within base.html tell flask to look for variables within the init function, if those varibles exist, their contents are used.  Otherwise, default values are used.</p>

<p class="tab"><b>Displaying Code:</b></p>
<p class="tab">Ironically, attempting to display html code, for a viewer to read, in an html file causes problems.  Any actual code, gets interpreted by the browser.  So both flask and HTML have a special set of flags that basically say "this stuff right here looks like code, but display it as text"  for example, displaying the following in the browser:</p>



<pre class="prettyprint lang-css linenums">
{% raw %}{% if title %}{% endraw %}
&lt;h1&gt;{% raw %}{{ title }}{% endraw %} &lt;/h1&gt;
{% raw %}{% else %}{% endraw %}
&lt;h1&gt;'Lazy dude'&lt;/h1&gt;
{% raw %}{% endif %}{% endraw %}
{% raw %}{% if date %}{% endraw %}
&lt;span class="meta"&gt;{% raw %}{{ date }}{% endraw %}&lt;/span&gt;
{% raw %}{% else %}{% endraw %}
&lt;span class="meta"&gt;Posted on January 1, 2015&lt;/span&gt;
{% raw %}{% endif %}{% endraw %}
</pre>



<p class="tab">Requires the following code:</p>
<center><img class="embed_img" src="https://s3-us-west-2.amazonaws.com/david-website/Programming/Code_example.png" alt=""></center>

<p class="tab">Somewhat a pain in the butt, but also very amusing to think about: Computers are stupid, fast, but stupid.  They have no way of knowing! The purple characters above are used to prevent &lt; and &gt; from being interpreted as HTML while {% raw %}{% raw %}{% endraw %}{ % endraw %} (no space by the first % =D)</p>

{% endblock %}
