{% extends "base.html" %}
{% block content %}

                    <p class="tab">I wish I had started tinkering with code at a younger age.  Though I am by no means dead (26), I am certainly behind the learning curve and have some catching up to do.  My youngest two (of 4) siblings are still in high school; my xmass presents to them will be an attempt to jump start their curiosity in this area.  The goal is to gently expose them to the general basics of writing code, and see if an interest develops organically.  I built them both a website and got a subscription to Team Treehouse for us all to muck around on.</p>
                    <hr>
                    
                    <p><b>Team Treehouse:</b></p>

                    <p class="tab">There are lots of free online tutorials; however, most such tutorials lack structure and/or direction.  Think about math in grade school, your second grade teach talked with your first grade teacher, knew what you had learned and knew your general level of education.  Thus, first grade math logically flowed into second grade math.  Many online tutorials lack this synchronization: Courses are disjointed, either overlapping too much providing redundant information or (worse) exist too far apart.  The student gains island of knowledge that don't really work together.</p>

                    <p class="tab">Enter Team Treehouse.  There are a number of tracks designed to avoid the above mentioned problems.  Lots of short videos are combined in a logical way to build the student towards a final product.  The basic "Web Design" track teaches the viewer to (starting with assumed zero experience) build a simple static website while tackling each individual hurtle separately and logically.  Though it costs 25$ / mo, I think it will be worth it if they use it.  <b>Shameless plug:</b>  If you have any desire to try it out, we can both get cheaper subscriptions if you use my referral code <a href="http://referrals.trhou.se/davidterwilliger" target="_blank" style="target-new: tab;">here!</a></p>

                    <hr>

                    <p><b>Their Personal Websites:</b></p>
                    <p class="tab">I also bought domain names for them and set up a simple landing page.  The landing page I used was the one I had created for myself before switching to a twitter bootstrap theme.  Their landing pages have some pictures of themselves as well as links to Twitter bootstrap template examples.  They are all hosted on my Digital Ocean VPS.  They have their own login credentials, I walked them through how to make a simple change, they watched me SSH in find the file and change "Noel's website" to "Noel's silly website".  Underwhelming, I know, but its live on the internet. 
                    </p>

                    <p class="tab"><b><a href="//noelterwilliger.com/" target="_blank" style="target-new: tab;">Noel's landing page:</a></b> Link and screen shot (incase she changes it... thats the goal.)</p>

                    <img class="embed_img" src="https://s3-us-west-2.amazonaws.com/david-website/first_pics/Noel_Landing.png"/></a>

                    <p class="tab">The Examples are links to four twitter bootstrap examples.  So their websites each have one landing page and links to 4 different themes implemented under their domain names.  They all look similar: a screen shot of the first.</p>

                    <img class="embed_img" src="https://s3-us-west-2.amazonaws.com/david-website/first_pics/noel_index_1.png"/></a>

                    <hr>

                    <p class="tab">Hopefully go through the Team Treehouse exercises and get curious enough to try and make some changes to their own website.  I figure this will either be the best gift they ever receive... or the worst.  The subscription was also a bit of a gift to myself, I'm using the website for a few specific things (Flask) and really like it.  As with all subscription services, this make tons of sense if actually used else amount to flushing money.
                    </p>

{% endblock %}
