h1,h2,h3,h4,h5 {
    font-family: 'Josefin Sans', sans-serif;
    color:#fff;
    font-size: 160%;
    position: relative;
    top: 10px;
    
}
.outer {

    display: table;
    position: fixed;
    height: 100%;
    width: 100%;
}
.middle{


    display: table-cell;
    vertical-align: middle; 
}

.container {
margin-left: auto;
    margin-right: auto; 
    width:672px;
    margin:0 auto;

}
.logo {
    width:300px;
    display:block;
    margin:0 auto;
}
.itemContainer {

    perspective: 1000;
    display:inline-block;
    margin:8px 8px;
  cursor:pointer;

}
    .itemContainer:hover .item, .itemContainer.flipped .item {
        transform: rotateY(180deg);
    }

.itemContainer, .front, .back {
    width: 200px;
    height: 200px;
}

.item {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    text-align:center;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px;
}

.front {
    background:#326295;
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    background:#55565a;
    transform: rotateY(180deg);
}


.front_1{background: #70b45a;}
.back_1{background: #479030;}
.front_2{background: #431692;}
.back_2{background: #482E74;}
.front_3{background: #173B8F;}
.back_3{background: #2E4172;}
.front_4{background: #990A7E;}
.back_4{background: #7A296B;}
.front_5{background: #11BDBA;}
.back_5{background: #0E8A88;}
.front_6{background: #098D65;}
.back_6{background: #257059;}
.front_7{background: #173B8F;}
.back_7{background: #2E4172;}
.front_8{background: #226666;}
.back_8{background: #407f7f;}
.front_9{background: #C90D0D;}
.back_9{background: #AA3939;}


.front_4>h1{
    top:-1px;
}
.front_1>img{
    max-width:60%;
    max-height:60%;
    position: relative;
    top: 15px;
}
.front_2>img{
    max-width:70%;
    max-height:70%;
    position: relative;
    top: 10px;
}
.front_3>img{
    max-width:70%;
    max-height:70%;
    position: relative;
    top: 10px;
}
.front_4>img{
    max-width:60%;
    max-height:60%;
    position: relative;
    
}
.front_5>img{
    max-width:70%;
    max-height:50%;
    position: relative;
    top: 10px;
}
.front_6>img{
    max-width:50%;
    max-height:50%;
    position: relative;
    top: 10px;
}
.front_7>img{
    max-width:50%;
    max-height:50%;
    position: relative;
    top: 10px;
}
.front_8>img{
    max-width:50%;
    max-height:50%;
    position: relative;
    top: 20px;
}
.front_9>img{
    max-width:50%;
    max-height:50%;
    position: relative;
    top: 30px;
}

.back{
  font-size: 75%; 
  
}

.back_h1{
  
    height: 90%; 
    text-align:center; 
    display:table;
    width:100%;
}
.text_h4{
  font-size:125%
}
.grad_cap{
  position: relative;
    top: 10px;
}


