{% extends "base.html" %}
{% block content %}
                    <div class="post-preview">
                    <a href="/programming/blog">
                        <h2 class="post-title">Blog</h2>
                        <h3 class="post-subtitle">
                        A fairly detailed explanation of how this blog was created
                        </h3>
                    </a>
                </div>
                <hr>       


                    <div class="post-preview">
                    <a href="/programming/projects">
                        <h2 class="post-title">
                            Projects
                        </h2>
                        <h3 class="post-subtitle">
                        A general list of programming related things I'm working on
                        </h3>
                    </a>
                    
                </div>
                <hr>       


<div class="post-preview">
                    <a href="/programming/puzzles">
                        <h2 class="post-title">
                        Project Euler and others
                        </h2>
                        <h3 class="post-subtitle">
                        Programming based math puzzles, practice with algorithmic design
                        </h3>
                    </a>
                </div>
{% endblock %}


