
{% extends "base.html" %}
{% block content %}



                <div class="post-preview">
                    <a href="/misc/papercraft_tutorial">
                        <h2 class="post-title">
                            Papercraft Tutorial
                        </h2>
                        <h3 class="post-subtitle">
                            Wintercroft Bison
                        </h3>
                    </a>
                    <p class="post-meta">Posted on November 14, 2015</p>
                </div>
                <hr>  


{% endblock %}

