
{% extends "base.html" %}
{% block content %}

<style>
a:link {
    text-decoration: underline;
}
</style>
                    <p class="tab">This is a brief tutorial aimed at describing how to make a low-poly mask.  It's a fun gift idea and a great little disctraction while watching a movie or simply a relaxing hobby.  The plans were purchased from <a href="http://wintercroft.com/" target="_blank" style="target-new: tab;">Wintercroft.com</a>, plans are very cheap and the site has lots of other cool models to choose from.  I"m actually going to create the mask twice; once as a practice to see how it comes together and then a final version with colored paper.</p>
                    
                    <hr>

                    <h2>You'll need:</h2>
<ul>               
  <li><a href="http://www.amazon.com/gp/product/B00251I5P4?psc=1&redirect=true&ref_=oh_aui_detailpage_o05_s00" target="_blank" style="target-new: tab;">Cutting Mat</a></li>
  <li><a href="http://www.amazon.com/gp/product/B000V1QV7O?psc=1&redirect=true&ref_=oh_aui_detailpage_o05_s00" target="_blank" style="target-new: tab;">X-acto Knife</a></li>
  <li><a href="http://www.amazon.com/gp/product/B000NIFKRM?psc=1&redirect=true&ref_=oh_aui_detailpage_o05_s00" target="_blank" style="target-new: tab;">Glue Gun</a> or <a href="http://www.amazon.com/gp/product/B000Q3KHCM?keywords=elmers%20glue&qid=1447523129&ref_=sr_1_1&sr=8-1" target="_blank" style="target-new: tab;">Elmer's Glue</a> (Preferred) </li>
  <li><a href="http://www.amazon.com/gp/product/B000ETXY78?psc=1&redirect=true&ref_=oh_aui_detailpage_o03_s00" target="_blank" style="target-new: tab;">110 lb Card Stock</a> (White for practice)</li>
  <li><a href="http://www.amazon.com/gp/product/B00JELDTEA?psc=1&redirect=true&ref_=ox_sc_act_title_2&smid=A1RY28S982B9C3" target="_blank" style="target-new: tab;">Orange</a> and <a href="http://www.amazon.com/gp/product/B00JELEWIC?psc=1&redirect=true&ref_=ox_sc_act_title_3&smid=A1RY28S982B9C3" target="_blank" style="target-new: tab;">Blue</a> for final product</li>
  <li>Ruler</li>
  <li>Red + Blue pen</li>

</ul>

<hr>
                    <h2>Keys to building:</h2>                    
<ul>

<li>Go slowly! There are very few undos!</li>
<li>Hotmelt glue hardens much faster than Elmer's.  I used hotmelt for the practice mask, and switched to elmers for the final version (both below).  Basically, just be careful.  You can alway reheat a hotmelt glue joint to adjust if seated slightly incorrectly.  </li>

<li>Elmer's glue must be applied very thinly (or it will wet the paper), I typically apply some Elmer's, blow on it to expedite the drying process, then hold the pieces together for ~30s, then let it set un touched for ~2min to fully harden.  So ~ 3min per joint, watch a movie or you will be bored sitting there holding paper together.  Most of the time spent assembling is spent waiting.</li>

<li>Building in a logical order is very important.  When two pieces are joined together, there is always some error in the angle by which they are joined.  The goal is to both minimize these errors and prevent the errors from compounding.</li>
<li>Minor errors in gluing can cause unwanted tension in the paper, this can sometimes be relieved by slightly cutting the paper to relieve strain</li>
<li>Major errors in gluing can cause catastrophic problems.  For instance; reaching a point in the mask where two pieces must be joined but cannot reach because compounded geometric errors make it impossible.</li>
<li>The above problems can be mitigated or even eliminated with four simple techniques.</li>
<li>First, glue as few parts as is possible when intially constructing the mask: This allows the geometry to retain as many degrees of freedom as possilbe.  Joints can always be glued together at the end to button it up.</li>
<li>Second, build front to back, or back to front rather than bottom to top or top to bottom.  The dome of the head is where these problems can occur, getting the curvature right is hard, so don't get to a point where you attempt to join the apex of the dome all at once.</li>
<li>Third, ensure that all joints are still flexible after the glue has harded, so that geometry and angles can be flexible, even after pieces are connected.</li>
<li>Last, when two pieces are parallel and joined in 3 or more joints, join the first then last; going in consecutive order can cause a minor early errors to preclude the last joints from being proper.  (similar to the first point)



</ul>

<hr>

                    <h2>Building the practice mask:</h2>

                    <p class="tab">Print the parts from the PDF onto the 110lb (or close) paper.  Try to print them one at a time since printers can have a tough time digesting the heavy paper:</p>

                    <a href="https://s3-us-west-2.amazonaws.com/david-website/Misc/Papercraft/printparts.jpg">
                    <img class="embed_img" src="https://s3-us-west-2.amazonaws.com/david-website/Misc/Papercraft/printparts.jpg"/></a>
   

                    <br>
                    <p class="tab">Crease folds using red/blue pen.  Using a ruler and a pen, firmly trace non-solid lines 2-3 times to slightly score the paper.  This is done so the paper will fold where desired.  Dashed lines indicate a mountain fold while dash+dots indicate a valley fold.  As is convention, blue/black is used on mountain folds while red is used on valley.  <a href="http://www.instructables.com/id/What-is-Pepakura-and-how-to-start/step2/Mountain-vs-Valley-fold/" target="_blank" style="target-new: tab;">More here</a>.</p>

                    <a href="https://s3-us-west-2.amazonaws.com/david-website/Misc/Papercraft/creasefolds.jpg">
                    <img class="embed_img" src="https://s3-us-west-2.amazonaws.com/david-website/Misc/Papercraft/creasefolds.jpg"/></a>


					<br>
                    <p class="tab">Using the x-acto knife, cut all solid lines to remove from waste paper.  Always cut away from the part cutting into the waste paper to eliminate accidentaly cutting into the part.  I also use my thumb to drag the knife rather than exerting most force with the index finger; otherwise, the will get really tired and stiff (not kidding!).</p>

                    <a href="https://s3-us-west-2.amazonaws.com/david-website/Misc/Papercraft/Cutout.jpg">
                    <img class="embed_img" src="https://s3-us-west-2.amazonaws.com/david-website/Misc/Papercraft/Cutout.jpg"/></a>

					<br>
                    <p class="tab">Bend creases in the desired direction to give the part shape.  The part is no longer 2D!  Use this step to judge if the applied force for scoring was adequate; too much force and folds risk tearing, too little force and folds are not well defined.</p>

                    <a href="https://s3-us-west-2.amazonaws.com/david-website/Misc/Papercraft/folding.jpg">
                    <img class="embed_img" src="https://s3-us-west-2.amazonaws.com/david-website/Misc/Papercraft/folding.jpg"/></a>

					<br>
                    <p class="tab">Start assembling the parts.  Matching numbers indicate where parts should be attached.  Apply a light coating of glue all over the tab, press together and wait a bit for the glue to harden. Pic below for demonstration, not correctly matched.</p>

                    <a href="https://s3-us-west-2.amazonaws.com/david-website/Misc/Papercraft/startbuilding.jpg">
                    <img class="embed_img" src="https://s3-us-west-2.amazonaws.com/david-website/Misc/Papercraft/startbuilding.jpg"/></a>

					<br>
                    <p class="tab">Continue building until done! [Colored version below]</p>

                    <a href="https://s3-us-west-2.amazonaws.com/david-website/Misc/Papercraft/finishedtest.jpg">
                    <img class="embed_img" src="https://s3-us-west-2.amazonaws.com/david-website/Misc/Papercraft/finishedtest.jpg"/></a>

                    <h2>Building the Final Product:</h2>

                    <p class="tab">Okie dokie, that was a cool practice round.  This time around we're going to make a few changes.  First we're going to add a bunch of color to it by subsituting color paper for some parts.  Also, numbers will be eliminated from the PDF (using photoshop) to make the mask much cleaner.  Lastly, now that I see how the mask comes together, I can re-build in a different order creating a less sloppy finished product.  <b>Be warned:</b> colored paper is significantly weaker than white paper, use less force when creasing edges.</p>

                    <p class="tab"><B>Fini!</B></p>
                    <a href="https://s3-us-west-2.amazonaws.com/david-website/Misc/Papercraft/finishedfinal.jpg">
                    <img class="embed_img" src="https://s3-us-west-2.amazonaws.com/david-website/Misc/Papercraft/finishedfinal.jpg"/></a>

                    <a href="https://s3-us-west-2.amazonaws.com/david-website/Misc/Papercraft/finishedfinal2.jpg">
                    <img class="embed_img" src="https://s3-us-west-2.amazonaws.com/david-website/Misc/Papercraft/finishedfinal2.jpg"/></a>



                    <br><br><br><br><br><br><br><br><br><br><br>






<p class="tab">Awesome!</p>
{% endblock %}

