{% extends "base.html" %}
{% block content %}

                    <h2>6.00</h2>
                    <h4>Introduction to Computer Science and Programming</h4>

                    <p><a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-00sc-introduction-to-computer-science-and-programming-spring-2011/" target="_blank" style="target-new: tab;">Course Site</a><br>                  

                    <p class="tab"><b>Class Notes:</b></p>
                    
                    

                    <p >Class 1: Introduction to 6.00: (<a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-00sc-introduction-to-computer-science-and-programming-spring-2011/unit-1/lecture-1-introduction-to-6.00/" target="_blank" style="target-new: tab;">Video</a>)(<a href="/programming/ocw/600/class_1" target="_blank" style="target-new: tab;">Notes</a>) <br>

                    Class 2: Core Elements of a program: (<a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-00sc-introduction-to-computer-science-and-programming-spring-2011/unit-1/lecture-2-core-elements-of-a-program/" target="_blank" style="target-new: tab;">Video</a>)(<a href="/programming/ocw/600/class_2" target="_blank" style="target-new: tab;">Notes</a>) </p>


                    <hr> 

{% endblock %}