{% extends "base.html" %}
{% block content %}

                    <p class="tab">In an attempt to learn some programming fundamentals I'm going to follow a few of the courses <a href="http://imgur.com/gallery/5iZzmT7" target="_blank" style="target-new: tab;">here</a>. List duplicated below incase the link dies.  </p>
                    
                    <h3>Stuff done so far [notes etc in links:]</h3>
                    <hr>

                    <p class="tab"><a href="/programming/ocw/600" target="_blank" style="target-new: tab;">Introduction to Computer Science and Programming: MIT</a></p>

                    <hr> 








               <h3>Links saved incase they disappear:</h3>

<p class="tab">Intro Courses:</p>

               <p><a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-00sc-introduction-to-computer-science-and-programming-spring-2011/" target="_blank" style="target-new: tab;">Introduction to Computer Science and Programming: MIT</a><br>

               <a href="http://wayback.archive-it.org/3671/20150528220118/https://www.extension.harvard.edu/open-learning-initiative/intensive-introduction-computer-science#" target="_blank" style="target-new: tab;">Intensive Introduction to Computer Science: Harvard </a><br>

               <a href="https://see.stanford.edu/Course/CS106A" target="_blank" style="target-new: tab;">CS106A - Programming Methodology</a><br>

               <a href="https://see.stanford.edu/Course/CS106B" target="_blank" style="target-new: tab;">CS106B - Programming Abstractions</a><br>

               <a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-042j-mathematics-for-computer-science-fall-2010/" target="_blank" style="target-new: tab;">Mathematics for Computer Science: MIT</a><br>

               <a href="http://aduni.org/courses/discrete/" target="_blank" style="target-new: tab;">Discrete Mathematics: ArsDigita </a></p>



<p class="tab">Core Courses:</p>

               <p><a href="https://www.youtube.com/watch?v=RpRRUQFbePU&list=PLE621E25B3BF8B9D1" target="_blank" style="target-new: tab;">Introduction to Data Structures and Algorithms: UNSW</a><br>

               <a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-006-introduction-to-algorithms-fall-2011/" target="_blank" style="target-new: tab;">Introduction to Algorithms: MIT</a><br>

               <a href="https://www.youtube.com/watch?v=XgQo4JkN4Bw&list=PL62A66DDD3B3CC0B7" target="_blank" style="target-new: tab;">Operating Systems and Systems Programming: Berkeley</a><br>

               <a href="https://www.youtube.com/playlist?list=PL9D558D49CA734A02" target="_blank" style="target-new: tab;">Programming Paradigms: Stanford</a><br>

               <a href="https://www.youtube.com/playlist?list=PL5PHm2jkkXmgDN1PLwOY_tGtUlynnyV6D" target="_blank" style="target-new: tab;">Computer Architecture: Carnegie Mellon</a><br>
               
               <a href="https://www.youtube.com/channel/UCb1OiccPJ0wbMZMOleCvhWQ" target="_blank" style="target-new: tab;">Fundamentals of Computer Networking: Manhattan College</a><br>
               
               <a href="https://www.youtube.com/playlist?list=PLvifRcqOOwF8u4iC7hFTMVC_WD6SEpnkx" target="_blank" style="target-new: tab;">Introduction to Data Communications:  Thammasat University</a><br>
               
               <a href="https://www.youtube.com/channel/UC1usFRN4LCMcfIV7UjHNuQg" target="_blank" style="target-new: tab;">Introduction to Cryptography: Ruhr University</a><br>
               
               


<p class="tab">Electives</p>
<p>
               <a href="http://cs75.tv/2012/summer/" target="_blank" style="target-new: tab;">Building Dynamic Websites: Harvard </a><br>

               <a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-851-advanced-data-structures-spring-2012/" target="_blank" style="target-new: tab;">Advanced Data Structures: MIT</a><br>

               <a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-033-computer-system-engineering-spring-2009/" target="_blank" style="target-new: tab;">Computer System Engineering: MIT</a><br>

               <a href="http://freevideolectures.com/Course/2249/Principles-of-Programming-Languages/1" target="_blank" style="target-new: tab;">Principles of Programming Languages: IIT</a><br>

               <a href="https://www.youtube.com/watch?v=bx5CPmNbblI&list=PLvifRcqOOwF89bqRiJEWyu5k7qJaTNMRj" target="_blank" style="target-new: tab;">Introduction to IT Security: Thammasat University </a><br>

               <a href="https://www.youtube.com/playlist?list=PLvifRcqOOwF-b74gWV5TpyMFFs2dVlqTt" target="_blank" style="target-new: tab;">Security and Cryptography: Thammasat University</a><br>

               <a href="https://www.youtube.com/playlist?list=PLXF_IJaFk-9C4p3b2tK7H9a9axOm3EtjA&feature=mh_lolz" target="_blank" style="target-new: tab;">Bilinear Pairings in Cryptography: BIU </a><br>

               <a href="https://www.youtube.com/playlist?list=PL1D5B07DD840FB46D" target="_blank" style="target-new: tab;">iPhone Application Development: ITU </a><br>

               <a href="https://www.youtube.com/playlist?list=PL1E8E7D2B6EB11301" target="_blank" style="target-new: tab;">Android Application Development: ITU</a><br>

               <a href="https://www.youtube.com/watch?v=katiy95_mxo&list=PL39B5D3AFC249556A" target="_blank" style="target-new: tab;">Artificial Intelligence: HRW </a><br>

               <a href="https://www.youtube.com/watch?v=qZ23-HrWyUE&index=10&list=PLF1A9D9034225FC92" target="_blank" style="target-new: tab;">Artificial Intelligence: Berkeley </a><br>

               <a href="http://inst.eecs.berkeley.edu/~cs184/fa12/onlinelectures.html" target="_blank" style="target-new: tab;">Computer Graphics: Berkeley </a><br>

               <a href="https://www.youtube.com/playlist?list=PL2SOU6wwxB0uwwH80KTQ6ht66KWxbzTIo" target="_blank" style="target-new: tab;">Statistics and Probability: Harvard </a><br>

               <a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-041-probabilistic-systems-analysis-and-applied-probability-fall-2010/index.htm" target="_blank" style="target-new: tab;">Probabilistic Systems Analysis and Applied Probability: MIT</a><br>





{% endblock %}