{% extends "base.html" %}
{% block content %}

                    <p class="tab">I just bought my first tri-specific bike off Craiglist, its a pretty sexy specalized shiv.  The man I purchased from was the same height as me, hopefully the bike fits.  <a href="http://www.kinovea.org/" target="_blank" style="target-new: tab;">Kinovea</a> is a nifty piece of free motion tracking software I'm trying to use.  I took a video of myself, grabbed frames at both the top and bottom of pedal stroke then used the software to add angles.  The same process was done to some stock images of pro triathletes on the same bike.  I've also read <a href="http://www.slowtwitch.com/mainheadings/techctr/bikefit.html" target="_blank" style="target-new: tab;">this</a> slow twitch fitting tutorial, mainly because I have no idea what I'm doing.</p>

                    <hr>

                    <p><b>Me @ top of stroke:</b></p>

                    <img class="embed_img" src="https://s3-us-west-2.amazonaws.com/david-website/Triathlon/bike_fit/me_top.png"/></a>

                    <p><b>Pro (Chris McCormack) @ top of stroke:</b></p>

                    <img class="embed_img" src="https://s3-us-west-2.amazonaws.com/david-website/Triathlon/bike_fit/pro_top.png"/></a>

                    <p class="tab">I'm actually a little shocked how similar the angles turned out to be.  I appear to have dropped the pins slightly off on my hip, it looks like I targeted a little to high.  Adjusting the angles to take that into consideration would cause cause the (already small) sholder-hip-knee angle to shrink lower than the current 45.  Similarly, the (also already small) ankle-knee-hip angle would shrink lower than 76.  By and large, I look far more scrunched up than the pro;  I'd like to raise my handlebars a bit to open up my hip angle and get my knees further from my chest.</p>


                    <hr>
                    <p><b>Me @ bottom of stroke:</b></p>
                    <img class="embed_img" src="https://s3-us-west-2.amazonaws.com/david-website/Triathlon/bike_fit/me_bottom.png"/></a>
                    <p><b>Pro (Chris McCormack) @ bottom of stroke:</b></p>                    
                    <img class="embed_img" src="https://s3-us-west-2.amazonaws.com/david-website/Triathlon/bike_fit/pro_bottom.png"/></a>

                    <p class="tab">Slight misses on the angles, I hit my sholderblades rather than sholder, and again missed the hip.  I look like I'm reaching a little too much, my sholders are not directly above my elbows, while they are for him.  His extended leg is also far closer to straight than I thought would be reasonable; I had assumed my extended leg was too open while it's actually more closed than his.  Other than nitpicking, they look pretty similar, well except for the fact that he looks like a pro and I'm indoors.  </p>

{% endblock %}
