{% extends "base.html" %}
{% block content %}

                <div class="post-preview">
                    <a href="/triathlon/training_log">
                        <h2 class="post-title">Training log:</h2>
                        <h3 class="post-subtitle"><B>IMLP</B> (7-26-15) <B>Patriot 70.3</B> (6-20-15)</h3>
                    </a>
                    <p class="post-meta">Semi current list</p>
                </div>
                <hr>       


<iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/243883928/embed/6cae7f55b63c816014fc57a3b6df9addbbf3e088'></iframe>
<iframe class="trainer"height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/243883934/embed/e3611b663e1e2a4a76e124d3e4391e2d1200ddbe'></iframe>
<iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/243323264/embed/63cd66bc08fbfab65b47faafe83d06d0cbc64c7b'></iframe>

<iframe class="trainer"height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/242890156/embed/a7b01c742b4ecc4a100dcf8f50163804dfd3cdeb'></iframe>

<iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/242379570/embed/86e7d67bec6d9eb32e3cc73809f863fec4245814'></iframe>
<iframe class="trainer"height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/242379585/embed/c69ddee6ed1b8ad0c5c175778eb487b2c87f7101'></iframe>
<iframe class="trainer"height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/241578276/embed/0db811592ff639f4657720b9017d6e544c68af19'></iframe>
<iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/241578278/embed/3c6e7c51134310a1674543efb9df26622b23c7c2'></iframe>
<iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/241166101/embed/3e96c57aa8db57ff494bcc7c9a8966be35e0db68'></iframe>
<iframe class="trainer"height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' a target="_blank" src='https://www.strava.com/activities/240760739/embed/2cf2b21df97344f21abb76f9a0195720b4cdb2d8'></iframe>
<iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/240947258/embed/dcb21453acb52ab14815db8628e9b8bfb8836b10'></iframe>
<iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/239947446/embed/774f2fcc1d2ab74e42ddeccd23b1fd9121d3ec15'></iframe>
<iframe class="trainer"height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/239947439/embed/0283f766c1fc150325549f7608377425e9627196'></iframe>
<iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/239315646/embed/13f7d8415f82bea58774ae4360f83c1a01b1f570'></iframe>
<iframe class="trainer"height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/239315161/embed/5a3f23ddb2816e6b64113e83b68ca8fc3d57c501'></iframe>
<iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/238324119/embed/83142a445e4c69ad9b5f099de1d7912280591ca3'></iframe>
<iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/238172977/embed/3882f0050fceac719af2a52f31697d5d03873b65'></iframe>
<iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/237444311/embed/ae88ef8a2c623f63db8cae3291ae40c7ba929de9'></iframe>
<iframe class="trainer"height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/237488621/embed/98aa95c02776a50c2f6bb17453c4008418996ea9'></iframe>

{% endblock %}

