{% extends "base.html" %}
{% block content %}


                <div class="post-preview">
                    <a href="/triathlon/training_log">
                        <h2 class="post-title">
                            Training log
                        </h2>
                        <h3 class="post-subtitle">
                            IMLP 7-26-15 Patriot 70.3 6-20-15
                        </h3>
                    </a>
                    <p class="post-meta">Semi current list</p>
                </div>
                <hr>       

{% endblock %}



