{% extends "base.html" %}
{% block content %}

                <div class="post-preview">
                    <a href="/triathlon/bike_fit">
                        <h2 class="post-title">
                            Specialized Shiv fit
                        </h2>
                        <h3 class="post-subtitle">
                            New bike from Craigslist, lets hope it fits
                        </h3>
                    </a>
                    <p class="post-meta">Posted on March 6, 2015</p>
                </div>
                <hr>
                
                <div class="post-preview">
                    <a href="/triathlon/training_log">
                        <h2 class="post-title">
                            Training log
                        </h2>
                        <h3 class="post-subtitle">
                            IMLP 7-26-15 Patriot 70.3 6-20-15
                        </h3>
                    </a>
                    <p class="post-meta">Semi current list</p>
                </div>
                <hr>       

{% endblock %}



