

@media screen {
   #content {
      margin: 0 auto;
      max-width: 1000px;
   }
}

body {
   padding: 0;
   margin: 0;
   border-width: 0;
   font-size: 90%;
   font-family: "Trebuchet MS", sans-serif;
   min-height: 800px;
   background-color:#fff;
   color: #000;
}

/* Generic overrides */

h3,h4 {
   color: #666;
}

h2,h3,h4 {
   margin: 0;
   font-family: Arial,helvetic,sans-serif;
}
h2 {
   padding: 10px 0 5px 0;
}
h3,h4 {
   font-family: "Courier New", monospace;
}
a {
   text-decoration: none;
   color: #777;
}
a:hover {
   color: #aaa;
}
input[type="radio"] {
   vertical-align:middle;
   margin:0 0 2px 2px;
   padding:0;
}
var {
  font-family: times new roman;
  font-style: italic;
  font-size: 120%;
}
dfn {
   border-bottom: 1px dotted green;
   font-style: normal;
}

/* Global classes */
.info {
	position: relative;
   cursor: help;
}
.info span {
	display: none;
	position: absolute;
   font-family: "Trebuchet MS", Arial, sans-serif;
   font-size: 90%;
   color: #555;
   font-weight:normal;
	font-style:normal;
	top: 20px;
	padding: 5px;
	z-index: 100;
	background-color: #eee;
	border: 2px solid #666;
	border-radius: 5px;
   white-space: pre-wrap;       /* css-3 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.info:hover {
	font-size: 100%; /* this is just for IE */
}
.info:hover span {
	display: block;
}
.info .heading {
   font-weight:bold;
   color:#333;
}




.grid {
  border-collapse: collapse;
}
.grid tr {
   background-color:#fff;
}
.grid th {
   color: #666;
   background-color: #eee;
   text-align: center;
   font-weight: bold;
}
.grid td, .grid th {
   background-color: inherit;
   padding: 2px;
   border: 1px solid #bbb;
}



/* Page specifics */

/*  need*/



#progress_page #levels_completed_table .info span, #progress_page #problem_solving_awards_table .info span, #progress_page #forum_based_awards_table .info span {
   width:150px;
   top:50px;
}

#progress_page #problems_solved_section {
   margin-top:30px;
}
#progress_page .problems_solved_table {
   margin-bottom:10px;
}

/*  need*/
#progress_page .problems_solved_table td {
   width:25px;
   height:20px;
   vertical-align:middle;
   text-align:center;
   font-size:90%;
   color:#333;
}
#progress_page #problems_solved_section .info span {
   width:250px;
   text-align:left;
}





.problem_solved {
   color:#cee7b6;
   background-color:red;
}
.problem_unsolved {
   color:#999;
   background-color:#fff;
}


