{% extends "base_2.html" %}
{% block content %}
                        <h1 align="center">How this was clobbeled together</h1>
                                  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Navigate elsewhere</a>
                        <p>&emsp;This site was primarily organized in two parts.  First, my <a href="https://www.davidterwilliger.com">personal site's</a> flask app was cloned, HTML and CSS was copied from this   <a href="https://startbootstrap.com/template-overviews/simple-sidebar/">twitter bootstrap theme</a>.  Heroku's addon PostgreSQL was added; a python script was written to scrape and store data, data can then be queried and graphed.</p>

     
                        <h2>&emsp;<b>Cloning previous site:</b></h2>
                        <p>&emsp;Make sure python is upto date, along with any libraries.  Same with <a href="https://devcenter.heroku.com/articles/heroku-cli">Heroku toolbelt</a>.  I'm fairly sure that my library management with virtual env is a little out of wack.  I believe, that when I originally setup the venv file for my personal site; I was accidently installing lots more packages on that python interpreter.  My python distro may need a complete wipe and re-set to get better organized.</p>





<pre class="prettyprint lang-css linenums">
cd dekstop
brew install heroku
heroku login
heroku git:clone -a myapp
</pre>
<p>&emsp;Rename the folder, cd inside and start venv.</p>


<pre class="prettyprint lang-css linenums">
cd my_project_folder
source venv/bin/activate
</pre>

<p>&emsp;At this point, the cloned python code had many moldule dependancies, which are not necessarily downloaded.  Running the app instantly fails since these libaries are missing.  Modules are installed with pip until failures stop.</p>


<pre class="prettyprint lang-css linenums">
pip install requests
pip install flask
pip install flask-mail
</pre>

<p>&emsp;Once the debugger starts, navigate over to http://127.0.0.1:5000 to see the local version.  This exact copy is pushed to a new heroku:</p>


<pre class="prettyprint lang-css linenums">
heroku create my_application
git init
heroku apps:create example
git add .
git commit -m "pushing first time"
git push 'enter the heroku git address here' master
</pre>

<p>&emsp;I have two applications on heroku, so the destiantion application within heroku needs to be specified.  Push to github also.</p>

<pre class="prettyprint lang-css linenums">
git remote add origin remote repository URL
git remote -v
git push -u origin master
</pre>




<h2>&emsp;<b>Adding new HTML and CSS theme:</b></h2>

<p>&emsp;Next, HTML and CSS was downloaded from <a href="https://startbootstrap.com/template-overviews/simple-sidebar/">twitter bootstrap theme</a>.  This theme will be the base, and all extra text will be contained within the genera content area.  The theme's html, renamed base_2.html is placed in flask's template folder, its associated CSS files are placed in the static folder.  CSS files are linked to the base_2.html by adding the following few lines in the header of the HTML file:</p>


<pre class="prettyprint lang-css linenums">
&lt;link href="../../../static/simple-sidebar.css" rel="stylesheet"&gt;
</pre>

<p>&emsp;This template uses the same JS (boostrap.min) I had already been using, so no additional JS needed to be added.  Base_2.html then has block and end block content added so that flask builds on it.  </p>


<pre class="prettyprint lang-css linenums">
{% raw %}{% block content %}
{% endblock %}{% endraw %} 
</pre>

<p>&emsp;Future HTML to extend this base have one line added to the top:</p>

<pre class="prettyprint lang-css linenums">
{% raw %}{% extends "base_2.html" %}{% endraw %} 
</pre>

<p>&emsp;The HTML for the selections within the side bar were changed and added to.  HTML under the toggle button is also changed. Two non template pages are made, the landing page (index.html was changed)and this page by simply making an html file of the format:</p>

<pre class="prettyprint lang-css linenums">
{% raw %}{% extends "base_2.html" %}{% endraw %}
{% raw %}{% block content %}{% endraw %}
//Insert all html for the content of the page
{% raw %}{% endblock %}{% endraw %}
</pre>

<p>&emsp;Routes within the hello.py file had to be changed to link to new pages:</p>

<pre class="prettyprint lang-css linenums">
{% raw %}@app.route("/base_2")
@app.route("/home")
@app.route("/index")
@app.route("/")
def base_2():
    return render_template('index.html')
#   return render_template('hello.html')
#
#

@app.route("/how_this_was_made")
def how_this_was_made():
    return render_template('how_this_was_made.html'){% endraw %}
</pre>





<p>&emsp;So far, I've made a base template, and two pages, the landing page and this page.  Each page extends the base template so all pages have the same togglebar / links.  Next I deleted all my extra leftover code from my previous website to clean up.</p>


<h2>&emsp;<b>Clean up local venv and make a .gitignore:</b></h2>

<p>&emsp;Thanks to help from a redditor, my intial handling of venv we done very poorly.  Venv should be completely ignored when pushing and pulling.  This is likely the root of all my initial dependancy errors.  I'm currently in a situation where my requirements.txt file is correct, and the install of venv is very off.  Best practice is to re-create venv (delete and re-initialize) then re-build dependancies from requirements.txt.  So, I delete the venev folder, re-install a new venv and then use the correct requirements.txt to re-populate the modules:</p>

<pre class="prettyprint lang-css linenums">
rm -r venv
python -m virtualenv venv
venv/bin/pip install -r requirements.txt
</pre>

<p>&emsp; A .gitigore is added to hide any files which may in the future contain login credentials.  The venv folder ought to also be ignored, since there is no reason to keep track of it (the proper venv can be re-created from a requirements.txt as above).  Also complied python doesn't need to be pushed to git.  Cd over to the root level and:</p>



<pre class="prettyprint lang-css linenums">
touch .gitignore
open .gitignore
</pre>
&emsp;Add following lines:
<pre class="prettyprint lang-css linenums">
venv/
*.pyc
*~
.DS_Store
</pre>

&emsp;Purge the ignored files from all previous commits:
<pre class="prettyprint lang-css linenums">
git rm --cached -r .
git add .
</pre>





<h2>&emsp;<b>Installing PostgreSQL locally, adding and graphing data:</b></h2>

<p>&emsp;Next, I install PostgreSQL on my machine.  I start by loading data into a local database before putting it on the cloud.  Homebrew, PostgrSQL and the python package Psycopg2 are installed.  Psycopg2 installed within the venv python interpreter. <a href="https://www.codementor.io/devops/tutorial/getting-started-postgresql-server-mac-osx">This</a> was a very helpful tutorial.</p>



<pre class="prettyprint lang-css linenums">
ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
brew update  #Just to make sure
brew install postgres
</pre>

<p>&emsp;Also, configure postgreSQL to start on boot.  Create database: from within postgreSQL:</p>


<pre class="prettyprint lang-css linenums">
psql
create database rmv_scraping;
</pre>


<p>&emsp;Make a small script to test things are setup:</p>

<pre class="prettyprint lang-css linenums">
#!/usr/bin/python2.4
# Small script to show PostgreSQL and Pyscopg together
import psycopg2
try:
    conn = psycopg2.connect("dbname='rmv_scraping' user='patrick' host='localhost' password=sadf")
    print '123'
except:
    print "I am unable to connect to the database"
</pre>



<p>&emsp;Now, its (finally) time to start playing with some data.  Quite a bit of debugging was done within the terminal ($ psql); once commands determined they would be added to python.  First, two tables were created (Current_Data and Current_Data_1).  Date + time formatting needs to be adjusted.  This first set of code is a proof of concept, very messy, simply trying to see if data moves correctly.</p>



<p><a href="https://github.com/terwilld/rmvtracker/blob/master/postgresql_testing/create_table.py">Code here: Its a little too large to put in the page.</a></p>

<p>&emsp;Two slightly different tables.  Date and time will be stored in the first or first two columns, then each column will contain the current wait time.  Each location has two data points (registration and licensing).  Once the table is created we can add some fake data from a list.  After running this script, used the terminal to navigate to psql and verify that data was recieved.</p>


<p><a href="https://github.com/terwilld/rmvtracker/blob/master/postgresql_testing/add_test_data.py">Code here: Its a little too large to put in the page.</a></p>


<p>&emsp;Next, pretty large step:  Combine the ability to inject data with previously created webscraping.  The script is run every 5 minutes with a cron job; webscraped data is then stored in the database!</p>

<p><a href="https://github.com/terwilld/rmvtracker/blob/master/postgresql_testing/test_location.py">Code here: Its a little too large to put in the page.</a></p>

<p>&emsp;After a weekday has passed, the data is retrieved and graphed:</p>


<p><a href="https://github.com/terwilld/rmvtracker/blob/master/postgresql_testing/get_data_and_graph.py">Code here: Its a little too large to put in the page.</a></p>


<p>&emsp;It isn't pretty, but its working.</p>
    

<blockquote class="imgur-embed-pub" lang="en" data-id="a/ATXLD"><a href="//imgur.com/ATXLD"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>




<h2>&emsp;<b>Creating and connecting to heroku psql Addon:</b></h2>


<p>&emsp;So far, testing psql was done on a local psql.  Time to make a heroku addon and start using it, both from the deployed app and during local development.  <a href="https://devcenter.heroku.com/articles/heroku-postgresql#connecting-in-python">General heroku instructions here</a>.  First thing is to install the needed modules within the local python.  The local version of python needs psycopg2 and pandas installed: requirements.txt is updated and the app is pushed just to test if additions were added correctly. </p>


<pre class="prettyprint lang-css linenums">
pip install pandas
pip install psycopg2
pip freeze > requirements.txt
git add .
git push -m "testing correct pip config"
git push heroku master
</pre>

<p>&emsp;Create a postgresql database on Heroku:</p>

<!-- Make db post gres -->
<pre class="prettyprint lang-css linenums">
heroku addons:create heroku-postgresql:hobby-dev
</pre>






<!-- promote it -->
<!-- use strings to get credentials variables -->



{% endblock %}


