{% extends "base.html" %}
{% block content %}


<h2>Class 2: Core elements of a program.</h2>

<p class="tab">Launching into the core elements:  These exist in most languages the specifics of which are different; the general idea is the same.  He shows examples using IDLE: the Integrated Development Environment which comes with python by default.</p>


<h3>What does IDLE have:</h3>

<ul>
  <li>Text editor with highlighting and smart indent</li>
  <li>Shell: direct interactive interpreter</li>
  <li>Integrated debugger, [he doesn't use; I should look at]</li>
</ul>  

<h3>One can open a shell and start interacting with it</h3>

<ul>
  <li>At pythons core: Objects. Variables as well as programs themselves are objects</li>
  <li>Each object has a type, which dictates what can be done with or to that object</li>
  <li>Two main classes of types: Scaler and non-scaler</li>
</ul>  


<h3>Non-scaler are the indivisible building blocks</h3>
<ul>
  <li>Int: litteral 3 or type(3)= 'int'</li>
  <li>Float: Real numbers 3.3 or type(3.3) float. [aproximations, 3.2 into interpreter => 3.2000002 beware]</li>
  <li>Boolean:  True or False</li>
  <li>None:  This is a special word and type, often used to populate a variable whose value is yet unknown</li>
  <li>Python does NOT have a char type like some others, this is string instead</li>


</ul>  


  <a href="https://s3-us-west-2.amazonaws.com/david-website/Programming/ocw/600/class_2/%231.png">
  <img class="embed_img" src="https://s3-us-west-2.amazonaws.com/david-website/Programming/ocw/600/class_2/%231.png">
  </a>

<p class="tab">Litterals (things that you can type) can only bring you so far.  Expressions: sequences of operans [objects] + operators.  The operator '+' is overloaded, different meanings depending on the type of the objects.</p>

  <a href="https://s3-us-west-2.amazonaws.com/david-website/Programming/ocw/600/class_2/%232.png">
  <img class="embed_img" src="https://s3-us-west-2.amazonaws.com/david-website/Programming/ocw/600/class_2/%232.png">
  </a>

<p class="tab">The shell also will give you a number of syntax errors helping you figure out what you have done wrong.  Interestingly, you can force 2.1 to be an interger; he doesn't like this since it could allow unforseen results.</p>

  <a href="https://s3-us-west-2.amazonaws.com/david-website/Programming/ocw/600/class_2/%233.png">
  <img class="embed_img" src="https://s3-us-west-2.amazonaws.com/david-website/Programming/ocw/600/class_2/%233.png">
  </a>

<p class="tab">Most likely last time seeing the shell.  It's silly to keep typeing the same stuff.  Only good for quickly testing values.  Script examples: it evaluates expressions but does not put them on the screen unless explicitly told to with a print command. A program (or script) is simply a sequence of commands. x=3 this is assignment, duh.  Variables are merely names of objects; assignment binds a name to an object.  Comments enhance ability for another (or yourself at a later date) to understand what is going on in the program, what mentality is adopted.  Two types of input, raw_input only one used, converts everything to a string!</p>

  <a href="https://s3-us-west-2.amazonaws.com/david-website/Programming/ocw/600/class_2/%234.png">
  <img class="embed_img" src="https://s3-us-west-2.amazonaws.com/david-website/Programming/ocw/600/class_2/%234.png">
  </a>

<h3>So far, programs have been straight line programs:</h3>
<ul>
  <li>Obvious sequence; every command starting at the top</li>
  <li>Each command once and only once</li>
  <li>Boring, no tests, no feed back and no loops.</li>
  <li>Only the simplest, most uninteresting programs are straight-line</li>  
</ul>  

<p class="tab">Tests: Conditionals make things a bit more interesting:</p>

<pre class="prettyprint lang-python">
x = int(raw_input('Enter an integer: '))
if x%2 == 0:
    print 'Even'
else:
    print 'Odd'
    if x%3 != 0:
        print 'And not divisible by 3'
</pre>

<h3>Some notes on the above code:</h3>
<ul>
  <li>Indentation matters for the semantics: this is rare.</li>
  <li>Un-indenting "if x%3 !=0" changes the semantics, it is no longer nested</li>
  <li>Usually only aesthetic with specific characters</li>
  <li>Branching programs can be much more interesting than straight line programs</li>
  <li>In both branching and straight line programs, the time taken to run is determined by the number of lines of code written</li>
  <li>Its aproximately proportional, or for some branching programs, even shorter.</li>
  <li>Better programs, time taken to run is related to the size of the data set, not the code.</li>
</ul>  

<h3>Iteration: Solves the above shortcomings</h3>
<ul>
  <li>Loops allow the same calculation to be run multiple times</li>
  <li>Required for a turning complete language</li>
  <li>Much much more complicated flow of control</li>
  <li>Time required to run becomes independant of # lines of code and dependant on the input/result</li>
</ul>  

<h3>Solves a perfect cube through incrementation:</h3>

  <a href="https://s3-us-west-2.amazonaws.com/david-website/Programming/ocw/600/class_2/%234.png">
  <img class="embed_img" src="https://s3-us-west-2.amazonaws.com/david-website/Programming/ocw/600/class_2/%234.png">
  </a>


{% endblock %}